@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: white;
  font-family: "Rubik", sans-serif;
}

.overlay{
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  display: none;
}

:root {
  --blue: #4C79D4;
  --brand-dark: #1a1a1a;
  --accent: #ff5555;
  --navbar-height: 128px;
}


/* NAVBAR */

.main-nav-container{
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 7rem;
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 1rem 2rem;
}

.logo {
    width: 250px;
    cursor: pointer;
}

.small-logo{
    width: 90px;
    display: none;
    cursor: pointer;
}

.nav-links-container{
  display: flex;
  gap: 2rem;
}

.nav-link-container{
  background-color: RGB(76 121 212);
  padding: 0.7rem;
  width: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 0.5rem;
  cursor: pointer;
}

.nav-link-container:hover{
  background-color: white;
  border: 1px solid RGB(76 121 212);
  color: RGB(76 121 212);
}

.nav-link{
  text-decoration: none;
  color: white;
}

.nav-link-container:hover .nav-link{
  color: RGB(76 121 212);
}

.navbar-user-container{
    margin-left: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.search-container{
  position: relative;
}

.search-container input{
  padding: 0.7rem;
  width: 300px;
  border: 2px solid RGB(76 121 212);
  border-radius: 5px;
}

.search-container button{
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
  display: flex;
  justify-content: center;
  border: none;
  background: transparent;
  font-size: 25px;
  transition: transform 1s ease;
  cursor: pointer;
  color: RGB(52 105 212);
}

.search-container button:hover{
  transform: rotateZ(360deg);
}
@media (max-width: 700px){
    .logo{
        display: none;
    }
    .small-logo{
        display: block;
    }
    .main-nav-container{
        padding: 1rem 1rem;
    }
}

@media (max-width: 500px){
    .navbar-user-container{
        flex-direction: column;
        gap: 0.5rem;
    }
}

/* HOME */

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard__orders-container{
  min-width: 500px;
  width: 100%;
}

.dashboard__requests-container{
  min-width: 500px;
  width: 100%;
}

.home-title-container{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.home-title-container h1 {
    color: RGB(76 121 212);
}

.main-form-container{
    max-width: 800px;
    margin: auto;
    border: 2px solid  RGB(76 121 212);
    padding: 4rem;
    border-radius: 10px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.btn{
    display: flex;
    padding: 1rem;
    background-color: RGB(76 121 212);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-notification-container {
  position: fixed;
  width: 400px;
  border: 1px solid green;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.show-notification {
  animation: slideDown 1s ease forwards;
  opacity: 1;
  visibility: visible;
}

@keyframes slideDown {
  0% {
    top: -100px; 
  }
  100% {
    top: 10rem; 
  }
}

@media (max-width: 700px){
    .main-form-container{
        padding: 3rem;
        margin-top: 3rem;
    }
    .main-container{
        margin-top: 5rem;
    }
}


/* SMALL ORDER */

.small-order-container{
    width: 100%;
    margin: auto;
    min-height: 98px;
    background-color: rgb(230, 238, 252);
    padding: 01rem;
    border: 2px solid RGB(76 121 212);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.order-container-info{
  display: flex;
  gap: 1rem;
}

.order-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.order-status-container{
  display: flex;
  gap: 1rem;
}

.order-footer{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: 2px;
}

/* DASHBOARD */

.dashboard-title-orders{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.dashboard-orders-container{
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dashboard-title-requests{
  display: flex;
  
  gap: 1rem;
}

.dashboard-container{
    width: 100%;
    padding: 0rem 5rem 10rem 5rem;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    gap: 8rem;
}

/* ORDER DETAILS*/

.confirm-notification-container{
  position: fixed;
  background-color: white;
  display: flex;
  z-index: 3000;
  top: 15%;
  left: 50%; 
  transform: translateX(-50%);
  padding: 2.5rem;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
  display: none;
}

.show{
  display: block;
}

.show-flex{
  display: flex;
}

.notification-btn-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.notification-btn{
  padding: 0.5rem;
  width: 150px;
  cursor: pointer;
}

.notification-btn-confirm{
  padding: 0.75rem;
  width: 150px;
  border: 2px solid rgb(76, 121, 212);
  background-color: transparent;
  color: rgb(38, 95, 209);
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.notification-btn-cancel{
  padding: 0.5rem;
  width: 150px;
  background-color: rgb(76, 121, 212);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.order-details{
    padding: 1.5rem;
  }
  
  .order-details-container{
    max-width: 1280px;
    margin: auto;
  }
  
  .order-details-title{
    display: flex;
    margin-top: 4rem;
    align-items: center;
    gap: 1rem;
  }

  .order-btn-container{
    margin-left: auto;
    display: flex;
    gap: 1rem;

  }

  .order-action-btn{
    padding: 0.5rem;
    color: white;
    border:none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .red-btn{
    background-color: rgb(252, 36, 36);
  }

  .red-btn:hover{
    background-color: rgb(207, 2, 2);
  }

  .green-btn{
    background-color: rgb(1, 160, 1);
  }

  .green-btn:hover{
    background-color: rgb(1, 116, 1);
  }
  
  .order-details-content{
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgb(234, 241, 253);
    border-radius: 5px;
    border: 2px solid rgb(49, 97, 192);
    display: flex;
    flex-direction: column;
  }
  
  .order-details-top{
    display: flex;
    justify-content: space-between;
  }
  
  .order-details-status{
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-wrap: nowrap;
  }

  .order-status{
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .yellow-div{
    background-color: yellow;
  }

  .green-div{
    background-color: rgb(1, 175, 1);
  }
  
  .order-details-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .order-details-contacts{
    margin-top: 2rem;
  }
  
  
  .order-details-item{
    margin-top: 2rem;
   display: flex;
   align-items: center;
   gap: 1rem;
  }

  .files-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: flex-start; 
    align-items: center; 
  
  }
  
  .file-container{
    width: 130px;
    height: 180px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 241, 253);
    border: 1px solid rgb(76, 121, 212);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    text-wrap: nowrap;
  }
  
  .download-btn{
    width: 100%;
    padding: 0.25rem;
    border: none;
    background-color: rgb(76, 121, 212);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .download-btn-small{
    width: 100%;
    padding: 0.1rem;
    border: none;
    background-color: rgb(76, 121, 212);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-btn{
    display: flex;
    gap: 1rem;
    padding: 0.75rem;
    margin-top: 2rem;
    background-color: rgb(76, 121, 212);
    border: none;
    color: white;
    font-size: 16px;
    align-items: center;
  }

  .profile-btn:hover{
    cursor: pointer;
    background-color: rgb(47, 104, 216);
  }


  @media (max-width: 650px){
    .order-details-title{
      flex-direction: column;
      align-items: flex-start;
    }
    .order-btn-container{
      margin: 0;
    }
  }
  
  @media (max-width: 550px){
    .order-details-top{
      flex-direction: column;
      gap: 2rem;
    }
    .order-details-title{
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 380px){
    .order-details-title{
      font-size: 14px;
    }
  }

/* USER DATA PROFILE */

.user-data-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 4rem;
  background-color: rgb(234, 241, 253);
  padding: 3rem;
  border: 2px solid rgb(76, 121, 212);
  border-radius: 5px;
}

.user-data-header{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  position: relative;
}

.user-header-text{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.user-header-text h2{
  text-align: center;
}

.user-message-btn{
  width: 100%;
  padding: 0.5rem;
  color: white;
  background-color: rgb(76, 121, 212);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 0.5rem;
}

.user-message-btn:hover{
  cursor: pointer;
  background-color: rgb(47, 104, 216);
}

.user-avatar{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid rgb(76, 121, 212);
}


.user-data-center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-data-item{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-data-item p {
  font-size: 18px;
}

.user-icon{
  font-size: 30px;
  color: rgb(34, 95, 216);
}

.user-orders-title{
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}


@media (max-width: 1000px){
  .user-data-container{
    flex-direction: column;
  }
  .divider-vertical{
    display: none;
  }
  .divider-horizontal{
    display: block;
  }
  .user-data-center{
    gap: 3rem;
  }
  .user-data-container{
    gap: 3rem;
  }
}

@media (max-width: 600px){
  .user-icon{
    font-size: 20px;
  }
  .user-data-item p {
    font-size: 14px;
  }
  .user-data-container{
    padding: 1.75rem;
  }
  .user-avatar{
    width: 150px;
    height: 150px;
  }
  .user-message-btn{
    padding: 0.2;
  }
}

/* MESSAGES */

.messages-container{
  max-width: 1280px;
  margin: auto;
  margin-top: 3rem;
  padding: 1.5rem;
}

.messages-title-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.messages-main-container{
  max-width: 1280px;
  height: 600px;
  overflow-y: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.messages-main-container::-webkit-scrollbar {
  display: none;
}

.message{
  display: flex;
  gap: 1rem;
  line-height: 30px;
  flex-direction: row;
  justify-content: flex-start; 
}

.message-user{ 
  flex-direction: row-reverse;
  align-self: flex-end;
}


.message-body {
  width: 400px;         
  min-height: auto;     
  max-width: 400px;     
  background-color: rgb(97, 152, 247);
  padding: 1rem;
  border-radius: 10px;
  overflow-wrap: break-word; 
}

.timestamp{
  margin-top: 0.25rem;
  margin-left: 0.4rem;
  color: rgb(141, 141, 141);
  font-size: 14px;
  text-align: left;
}

.message-avatar{
  width: 60px;
  height: 60px;
  align-self: flex-start;
  border-radius: 50%;
}

.message-input-container{
  width: 100%;
  display: flex;
  position: relative;
}

.message-input{
  width: 100%;  
  padding: 1rem 9rem 1rem 1rem;     
  box-sizing: border-box; 
  border: 2px solid rgb(77, 137, 241); 
  border-radius: 15px; 
  resize: none;       
  outline: none;      
  box-shadow: inset 0 1px 8px -3px #ababab; 
  overflow: hidden; 
  font-size: 16px;
}


.send-message-container{
  position: absolute;
  display: flex;
  padding: 0.55rem;
  background-color: rgb(76,121,212);
  border-radius: 50%;
  color: white;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
  border: none;
}

.no-messages-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 20px;
}

.small-files-container{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.small-file-container{
  width: 90px;
  height: 130px;
  background-color: rgb(234,241,253);
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid rgb(76,121,212);
  border-radius: 5px;
}

.progress-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.message-item{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 786px){
  .message-body{
    width: 300px;
  }
  .message-item{
    font-size: 14px;
  }
  .message-avatar{
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 568px){
  .message-body{
    width: 250px;
  }
  .message-item{
    font-size: 13px;
  }
  .timestamp{
    font-size: 13px;
  }
  .message-input{
    font-size: 13px;
  }
  .message-avatar{
    width: 40px;
    height: 40px;
  }
  .message-body{
    padding: 0.35rem 1rem;
  }
  .messages-main-container{
    max-height: 400px;
    margin-top: 2rem;
  }
  .messages-container{
    margin-top: 2rem;
  }
  .send-message-container{
    top: 11px;
  }
  .small-file-container{
    width: 73px;
    font-size: 12px;
  }
}

/* CUSTOMER */

.customers-container{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-top: 2rem;
}

.customer-container{
  display: flex;
  background-color: rgb(230,238,252);
  border: 2px solid rgb(76,121,212);
  padding: 1rem;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
}

.customer-main{
  display: flex;
  gap: 2rem;
}

.app-icon {
  color: var(--blue);
}

.customer-avatar{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid rgb(76,121,212);
}

.customer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.customer-bottom{
  display: flex;
  align-items: center;
}

.customers-dashboard-title{
  display: flex;
  justify-content: space-between;
}

.dashboard-title-top{
  display: flex;
  gap: 1rem;
}

.no-customers{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
  font-size: 20px;
}

/* FOOTER */

.footer{
  width: 100%;
  background-color: rgb(76, 121, 212);
  height: 20rem;
}

@media (max-width: 475px){
  .footer{
    margin-top: 5rem;
  }
}